
@{
    ViewBag.Title = "Home Page";
}
<style>
    .inima
    {
        position:absolute;
    }

</style>


<h1>ALL THE GAMES</h1>
<div>                                                                                        
    <a href='@Url.Action("Spanzurat", "User", new { email = User.Identity.Name })'>
        <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" />
    </a>
    <a href='@Url.Action( "Game", "Home")'>
        <img src="~/Content/Images/SPANZURAT.png" height="350" width="350" />
    </a>

    <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" onclick="place(this)"/>
    <a href='@Url.Action( "Bears", "Home")'>
        <img src="~/Content/Images/URS.png" height="350" width="350">
    </a>

    <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" onclick="place(this)"/>
    <a href='@Url.Action( "MemoryGame", "Home")'>
        <img src="~/Content/Images/MEMO.png" height="350" width="350">
    </a>
    <br>

    <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" onclick="place(this)"/>
    <a href='@Url.Action( "Flappy", "Home")'>
        <img src="~/Content/Images/FLAP.png" height="350" width="350">
    </a>

    <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" onclick="place(this)"/>
    <a href='@Url.Action( "SpaceInvaders", "Home")'>
        <img src="~/Content/Images/INVADEZ.png" height="350" width="350">
    </a>

    <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" onclick="place(this)"/>
    <a href='@Url.Action( "Snake", "Home")'>
        <img src="~/Content/Images/SNEK.png" height="350" width="350">
    </a>
</div>

<br /> <br /> <br />

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>    

    }

}    



<script>

    function place(img)
    {
     
            //alert(<%=Request.IsAu);
        //if (img.src == '/Content/Images/nolike.png')
            img.src = '/Content/Images/like.png';
        //else
         //   img.src = '/Content/Images/nolike.png'; 
    }
         

</script>