
@{
    ViewBag.Title = "Home Page";
}
<style>
    .inima
    {
        position:absolute;
    }

</style>



<h1>ALL THE GAMES</h1>
<div>             
    

       <a href='@Url.Action("Spanzurat", "User", new { email = User.Identity.Name })'>
   
        @if (Request.IsAuthenticated)
    {
          if (Proiect_mds.Controllers.UserController.likesSpanzurat(User.Identity.Name) == false)
                {
                     <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30"/>
             }
          else
            {
            <img class="inima" src="~/Content/Images/like.png" height="30" width="30"/>
            }    
     }
    </a>
    <a href='@Url.Action( "AccesezSpanzurat", "Joc")'>
        <img src="~/Content/Images/SPANZURAT.png" height="350" width="350" />
    </a>

    <a href='@Url.Action("Ursi", "User", new { email = User.Identity.Name })'>

        @if (Request.IsAuthenticated)
        {
            if (Proiect_mds.Controllers.UserController.likesUrsi(User.Identity.Name) == false)
            {
                <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" />
            }
            else
            {
                <img class="inima" src="~/Content/Images/like.png" height="30" width="30" />
            }
        }
    </a>
    <a href='@Url.Action( "AccesezUrsi", "Joc")'>
        <img src="~/Content/Images/URS.png" height="350" width="350">
    </a>


    <a href='@Url.Action("Memo", "User", new { email = User.Identity.Name })'>

        @if (Request.IsAuthenticated)
        {
            if (Proiect_mds.Controllers.UserController.likesMemo(User.Identity.Name) == false)
            {
                <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" />
            }
            else
            {
                <img class="inima" src="~/Content/Images/like.png" height="30" width="30" />
            }
        }
    </a>

     <a href='@Url.Action( "AccesezMemo", "Joc")'>
          <img src="~/Content/Images/MEMO.png" height="350" width="350">
     </a>
        <br>


    <a href='@Url.Action("Flap", "User", new { email = User.Identity.Name })'>
        
        @if (Request.IsAuthenticated)
    {
        if (Proiect_mds.Controllers.UserController.likesFlap(User.Identity.Name) == false)
        {
            <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" />
        }
        else
        {
            <img class="inima" src="~/Content/Images/like.png" height="30" width="30" />
        }
    }

    </a>
        <a href='@Url.Action( "AccesezFlap", "Joc")'>
            <img src="~/Content/Images/FLAP.png" height="350" width="350">
        </a>


    <a href='@Url.Action("Invadez", "User", new { email = User.Identity.Name })'>
        @if (Request.IsAuthenticated)
        {
            if (Proiect_mds.Controllers.UserController.likesInvadez(User.Identity.Name) == false)
            {
                <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" />
            }
            else
            {
                <img class="inima" src="~/Content/Images/like.png" height="30" width="30" />
            }
        }

     </a>
        <a href='@Url.Action( "AccesezInvadez", "Joc")'>
            <img src="~/Content/Images/INVADEZ.png" height="350" width="350">
        </a>

    <a href='@Url.Action("Snek", "User", new { email = User.Identity.Name })'>
        @if (Request.IsAuthenticated)
        {
            if (Proiect_mds.Controllers.UserController.likesSnek(User.Identity.Name) == false)
            {
                <img class="inima" src="~/Content/Images/nolike.png" height="30" width="30" />
            }
            else
            {
                <img class="inima" src="~/Content/Images/like.png" height="30" width="30" />
            }
        }
    </a>
        <a href='@Url.Action( "AccesezSnek", "Joc")'>
            <img src="~/Content/Images/SNEK.png" height="350" width="350">
        </a>
</div>

<br /> <br /> <br />

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>    

    }

}    

