
@{
    ViewBag.Title = "CustomSpaceMedium";
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/StilSpaceInvaders.css")
    @Scripts.Render("~/Scripts/InstructiuniSpaceInvaders.js")
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Space Invaders </title>
</head>
<body>
    <h1>Space Invaders</h1>
    <h1>Choose your spaceship</h1>

    <section id="s">
        <a href='@Url.Action( "SpaceMedium", "Home")'>
            <img src="~/Content/Images/spaceship.png" height="200" width="200" />
        </a>
        <a href='@Url.Action( "SpaceMedium1", "Home")'>
            <img src="~/Content/Images/spaceship1.png" height="200" width="200" />
        </a>
        <a href='@Url.Action( "SpaceMedium2", "Home")'>
            <img src="~/Content/Images/spaceship2.png" height="200" width="200" />
        </a>
    </section>
</body>
</html>



