
@{
    ViewBag.Title = "Snake";
}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset=utf-8>
    <title>Snake</title>
    @Styles.Render("~/Content/SnakeStyle.css")
    @Scripts.Render("~/Scripts/p5.js")
    @Scripts.Render("~/Scripts/p5.dom.js")
    @Scripts.Render("~/Scripts/p5.sound.js")
    @Scripts.Render("~/Scripts/snake.js")
</head>
<body>
</body>
</html>

