<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAXICLIP</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dropdown.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MAXICLIP", "Index","Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
          
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="dropdown">
                       @Html.ActionLink("Categories", "Index", "Home")
                        <div class="dropdown-content">
                            <a >@Html.ActionLink("Action", "Action", "Home")</a>
                            <a> @Html.ActionLink("Memory and Strategy", "MemStra", "Home")</a>
                            <a >@Html.ActionLink("Arcade", "Arcade", "Home")</a>
                        </div>

                    </li>
                   
                 
                </ul>
                @Html.Partial("_LoginPartial") 
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="copyright">&copy; @DateTime.Now.Year MAXICLIP ORGINIAL PRODUCTION </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
