@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            @Html.ActionLink("Custom", "Index", "Home")
            <div class="dropdown-content">
                <a id="color1">A</a>
                <a id="color2">B</a>
                <a id="color3">C</a>
            </div>
        </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


<script>
    var color1 = document.getElementById("color1");
    var color2 = document.getElementById("color2");
    var color3 = document.getElementById("color3");
    color1.addEventListener("click", function () { color("#00293c","#f1f3ce"); });
    color2.addEventListener("click", function () { color("#73605b","#d09683"); });
    color3.addEventListener("click", function () { color("#063852","#e6df44"); });

    function color(x,y) {
        var a = document.getElementsByClassName("navbar navbar-inverse navbar-fixed-top");
        for (var i = 0; i < a.length; i++) {
            a[i].style.backgroundColor = x;
        }
        document.body.style.backgroundColor = y;
    }
</script>
