@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Profil", "Home")
            </li>
            <li class="dropdown">
                @Html.ActionLink("Custom", "Index", "Home")
                <div class="dropdown-content">
                    <a id="color1">A</a>
                    <a id="color2">B</a>
                    <a id="color3">C</a>
                </div>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            @Html.ActionLink("Custom", "Index", "Home")
            <div class="dropdown-content">
                <a id="color1">A</a>
                <a id="color2">B</a>
                <a id="color3">C</a>
            </div>
        </li>
        <li>@Html.ActionLink("Register Now", "Registration", "User")</li>
        <li>@Html.ActionLink("Login", "Login", "User")</li>
    </ul>
}


<script>
    var color1 = document.getElementById("color1");
    var color2 = document.getElementById("color2");
    var color3 = document.getElementById("color3");
    color1.addEventListener("click", function () { color("#00293c", "#f1f3ce"); });
    color2.addEventListener("click", function () { color("#73605b", "#d09683"); });
    color3.addEventListener("click", function () { color("#063852", "#e6df44"); });

    function color(x, y) {
        var a = document.getElementsByClassName("navbar navbar-inverse navbar-fixed-top");
        for (var i = 0; i < a.length; i++) {
            a[i].style.backgroundColor = x;
        }
        document.body.style.backgroundColor = y;
    }
</script>
